@{
    ViewBag.Title = "Whydatanomics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">View</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li><a href="@Url.Action("Index","View")">View</a></li>
            <li class="active">Why datanomics</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="panel">
                <div class="panel-heading-v2">
                    <h2>Why Datanomics</h2>
                </div>

                <div class="panel-separator"></div><div class="panel-pane pane-entity-field pane-node-body">
                    <div class="pane-content">
                        <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                            <div class="field-items">
                                <div class="field-item even" property="content:encoded">
                                    <h2 class="color-orange">Our Approach</h2>

                                    <i class="fa fa-chevron-right"></i> We start with a holistic framework for your organization<br />
                                    <i class="fa fa-chevron-right"></i> We believe in partnerships and not projects<br />
                                    <i class="fa fa-chevron-right"></i> We want to have positive impact on your culture<br />

                                    <h2 class="color-orange">Our Experience</h2>
                                    

                                    <i class="fa fa-chevron-right"></i> We have hands on experience working with data<br />
                                    <i class="fa fa-chevron-right"></i> We have a core team with deep domain knowledge<br />
                                    <i class="fa fa-chevron-right"></i> We hire/partner with people passionate about data<br />

                                    <h2 class="color-orange">Our Commitment</h2>
                                    

                                    <i class="fa fa-chevron-right"></i> We believe in creating tangible value for you<br />
                                    <i class="fa fa-chevron-right"></i> We tailor our solutions according to your needs<br />
                                    <i class="fa fa-chevron-right"></i> We are conscious of your cost<br />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <img class="img-responsive" src="~/Images/Picture1.jpg" />
            </div>
        </div>
    </div>
</div>